/* ------------------------------
   FONTS (example)
------------------------------ */
@font-face {
  font-family: "MyFont";
  src: url("fonts/GeneralSans-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "MyFont1";
  src: url("fonts/GOTHIC.TTF") format("truetype");
}

@font-face {
  font-family: "EscideBold";
  src: url("fonts/EscideBold.ttf") format("truetype");
}

@font-face {
  font-family: "GOTHICB";
  src: url("fonts/GOTHICB.TTF") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "MyFont", sans-serif;
  scroll-behavior: smooth;
}

.normTxt {
  font-family: 'MyFont1';
  color: #4a4a4a;
  font-size: 20px;
}

.titleTxt {
  font-family: 'MyFont';
  color: #019BE1;
}

/* ------------------------------
   NAVBAR
------------------------------ */


.imgSlogo {
  height: 900px;
  margin-left: -500px !important;

}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  /* BIG */
  z-index: 1050;
  background-color: rgb(255, 243, 95);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.24);
  padding: 20px 40px;
  /* BIG padding */
  transition: all 0.35s ease;
}

#mobileNav a{
  font-size: 35px !important;
  font-family: 'EscideBold';
  text-align: right;
  padding-right: 20px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.644);
}

#mobileNav {
  background-color: rgb(224, 224, 224);
}

#mobileNav p {
  font-family: 'myfont1';
  font-size: 12px;
}

/* Logo */
.navLogo {
  width: 490px !important;
  height: 150px !important;
  transition: all 0.35s ease;
}

/* Nav links */
.nav-link {
  font-size: 22px;
  font-weight: 700;
  margin-left: 30px;
  transition: all 0.35s ease;
}

.nav-link:hover {
  color: rgb(1, 155, 225) !important;
  text-shadow: 0 3px 12px rgba(255, 255, 255, 0.509);
}

.custom-navbar.scrolled {
  height: auto;
  /* SMALL */
  padding: 8px 40px;
  background-color: rgb(255, 242, 95);
}

/* Shrink logo */
.custom-navbar.scrolled .navLogo {
  width: 260px !important;
  height: 80px !important;
  transition: all 0.35s ease;
}

/* Shrink text */
.custom-navbar.scrolled .nav-link {
  font-size: 17px;
}

/* main */

main {
  height: auto;
}

/* Mobile */
@media (max-width: 991px) {
  .nav-link {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .navLogo {
  width: 180px !important;
  height: 60px !important;
  }

  /* Shrink logo */
.custom-navbar.scrolled .navLogo {
  width: 180px !important;
  height: 60px !important;
  transition: all 0.35s ease;
}

.custom-navbar {

  height: auto;
}

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
}

.ftrLnk:hover {
  color: #009BE1 !important;
}


/* ------------------------------
   HERO SECTION
------------------------------ */

/* HERO BACKGROUND */
.hero-section {
  background-image: url("images/imgHme/hme_bg_image_01.webp");
  background-size:cover;
  /* IMPORTANT: allows visible movement */
  background-position: center;
  /* start at top */
  min-height: auto;
  padding: 160px 0 85px 0;
  overflow-x: hidden !important;
  /* animation: heroBgMove 25s linear infinite; */
}


/* .s-logo {
    background-image: url("images/slogo.png");
    background-size: cover;
    background-position: center;
} */

/* TEXT */
.hero-text h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

.hero-text p {
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

/* IMAGE ON RIGHT */
.hero-image {
  width: 300%;
  max-width: 2000px;
  padding-left: 0 !important;
}

.navLogo {
  width: 250px;
  height: auto;
}

.txtConts-1 {
  font-size: 25px !important;
  font-family: "MyFont1";
}

/* RESPONSIVE FIXES */
@media (max-width: 991px) {
  .hero-text h1 {
    font-size: 40px;
  }


  .hero-text p {
    font-size: 18px;
  }

  .hero-image {
    max-width: 380px;
    margin-top: 40px;
  }

  .divCardAff {
    height: auto !important;
  }

  .imgSlogo {
    display: none;
  }

  .imgCoreserv {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding-top: 120px;
    text-align: center;
  }

  .navLogo {
    width: 160px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .divCardAff {
    height: auto !important;
  }

  .imgSlogo {
    display: none;
  }

  .imgCoreserv {
    display: none;
  }
}

/* ------------------------------
   RESPONSIVE FIXES
------------------------------ */

@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 45px;
  }


  .hero-text p {
    font-size: 18px;
  }

  .navLogo {
    width: 200px;
  }

  .divCardAff {
    height: auto !important;
  }

  .imgSlogo {
    display: none;
  }

  .imgCoreserv {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .navLogo {
    width: 160px;
  }

  .divCardAff {
    height: auto !important;
  }

  .imgSlogo {
    display: none;
  }

  .imgCoreserv {
    display: none;
  }
}

/* ------------------------------
   LOADING SCREEN
------------------------------ */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#page-content {
  display: none;
}

/* orig-1 */

/* .hero-img-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 45vw;
    max-width: 600px;
    overflow: hidden; 
} */
.hero-section-leftcont {
  margin-left: -120px;
}

/* responsive fix for mobile */
@media (max-width: 991px) {
  .hero-img-wrapper {
    position: static;
    transform: none;
    width: 100%;
    margin-top: 30px;
  }

  .hero-section-leftcont {
    margin-left: 0px;
  }
}

.services-title{
  font-size: 45px !important;
  margin-top: -10px !important  ;
  color: #0A9BDE;
}

/* orig-2 */
.divServ {
  background-size: cover;
  background-position: center;
  min-height: auto;
  padding: 90px 0px 90px 0px;
  overflow-x: hidden !important;
}

/* CORE SERVICES */
.txtCoreServ {
  font-size: 50px !important;
  font-family: "GOTHICB";
  font-weight: 600 !important;
  color: #0a9bde;

}

.subTitleServ {
  font-size: 25px !important;
  font-family: "MyFont1";
  font-weight: 600 !important;
  color: #0a9bde;
  margin-top: 9px;
}

.imgServ {
  height: 60px;
}

.txtServ {
  font-size: 18.5px !important;
  font-family: "MyFont1";
  color: #272727;
  margin-top: 9px;
}

/* OUR NETWORKS */
.divAffil {
  background-image: url("images/imgHme/hme_Asset14@3x.webp");
  background-size: cover;
  background-position: center;
  background-color: #fdf265;
  min-height: auto;
  overflow-x: hidden !important;
  padding: 100px 0px 100px 0px;
}

.regions {
  font-size: 25px;
  color: #4b4bd6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 10px;
}

.region {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ED1D43;
  border-radius: 50%;
  margin-right: 10px;
}

.region:hover .dot {
  transform: scale(1.3);
}

.divAffpart {
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
  border-radius: 40px;
  background-color: #0a9bde;
  color: #fff35f;
  font-size: 25px;
  text-align: center !important;
}

.txtAffil {
  font-size: 20px !important;
  font-family: "MyFont1";
  color: #4a3da8;
  margin-top: 9px;
  font-weight: 600;
  text-shadow: 0 3px 12px rgba(92, 92, 92, 0.45);
}


/* PARTNERS */
.divPartners {
  /* background-image: url("images/Asset\ 14@3x.png"); */
  background-size: cover;
  background-position: center;
  /* background-color: #FDF265; */
  min-height: auto;
  overflow-x: hidden !important;
  padding: 100px 0px 100px 0px;
}

.partner-title{
  font-size: 45px !important;
  color: #0A9BDE;
}
.divCardAff {
  border: 2px solid rgb(214, 214, 214);
  border-radius: 20px;
  padding: 10px;
  padding-top: 10px;
  margin: 2px;
  height: 390px;
  /* background-color: #272727; */
}

/* footer design */
.footerBody {
  background-color: #474747;
  height: auto;
  color: white;
  font-size: 14.5px !important;
  font-family: "MyFont1";
  /* margin-top: 9px; */
  padding: 40px 0px 40px 0px;
}

.footerBody a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px ;
}

.footerBody h3{
  font-size: 37px;
}

/* EXCELENCE */
/* .divExcelence {
  background-image: url("images/Asset11@3x.png");
  background-size: cover;
  background-position: top;
  min-height: auto;
  overflow-x: hidden !important;
  padding: 100px 0px 100px 0px;
} */
/* 
.divExcelence {
  background-image: url("images/Asset11@3x.png");
  background-size: cover;
  background-position: center 0px;
  min-height: 400px;
  padding: 100px 0;
  overflow-x: hidden;
} */


.divExcelence {
  background-image: url("images/imgHme/hme_Asset11@3x.webp");
  background-size: cover;
  background-position: center 0px;
  min-height: 400px;
  padding: 100px 0;
  overflow-x: hidden;
  background-attachment: fixed;
}


/* EXCELENCE */
.divExcelence h1 {
  color: #ffffff;
  Text-shadow: 0 3px 12px rgba(0, 0, 0, 0.509);
  font-size: 35px;
  font-family: 'GOTHICB';
  font-weight: 600 !important;
}

.boxCard {
  padding-top: 65px;
  width: auto;
  height: 290px;
  border: 7px solid white;
  border-radius: 60px 0px 60px 0px;
  background-color: #fff25fc2;
  color: rgb(255, 255, 255);
  Text-shadow: 0 3px 12px rgb(0, 0, 0);
}

.boxCard h1 {
  font-size: 80px;
}

.boxCard p {
  font-size: 18px;
  font-weight: 400;
  Text-shadow: 0 3px 12px rgba(0, 0, 0, 0);
  color: #3e3e3e;
}

/* about css */


.missionCont {
  width: 100%;
  height: auto;
  background-color: #019BE1 !important;
  padding: 60px;
  border-radius: 0px 100px 0px 0px;
  color: white;
  font-family: "MyFont1";
  background: url("images/imgAbt/abtTargetAsset35@3x.webp") center / cover no-repeat;


}

.divMisVisMain p {
  font-size: 22px;
  color: white;
}

.visionCont {
  width: 100%;
  height: auto;
  background-color: #ED1D43 !important;
  padding: 60px;
  border-radius: 0px 0px 0px 100px;
  color: white;
  font-family: "MyFont1";
  background: url("images/imgAbt/abtEyeAsset35@3x.webp") center / cover no-repeat;

}

.visionCont p {
  font-size: 22px;
}


.headerPillar {
  width: auto;
  border-radius: 0px 0px 100px 100px;
  height: auto;
  padding: 20px 0px 20px 0px;
  margin: 0px 00px 0px 0px;

}

/* .appreciation-wrap{

  align-items: center;
  background-image: url("images/Assetstar15@3x.png");
  background-size:contain;
  background-position:  center;
  background-repeat: no-repeat;
  height: 300px;

} */
/* Section */

/* Header */
.pillarTitle {
  color: #019be1;
  font-weight: 800;
  font-size: 45px;
}

/* Container */
.pillarContainer {
  max-width: 1200px;
  padding: 0px 0px 50px 0px;

}

.pillarMainCont {
  align-items: center;
  background-image: url("images/imgAbt/abtLogobackAsset27@3x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Card Wrapper */
.appreciation-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.appreciation-card {
  background: #fff36b;
  border-radius: 0px 30px;
  padding: 33px;
  width: 350px;
  height: 290px;
  position: relative;
  box-shadow: 0px 12px 0 #d9cc48;
  margin: 10px;
}

/* Title */
.appreciation-card h3 {
  margin: 0 0 12px;
  color: #f01e3a;
  font-size: 30px;
  font-weight: 700;
  text-align: justify;
}

/* Text */
.appreciation-card p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #1787d6;
  font-weight: 500 !important;
  font-family: 'MyFont1';
  margin-top: 15px;
  border: 0px solid red;
}

.appreciation-card img {
  height: 50px !important;
}

/* Badge */
.badge {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 54px;
  height: 54px;
  /* background: #1fa0ff; */
  color: #fff36b;
  font-size: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Mobile Fix */
@media (max-width: 768px) {
  .appreciation-wrap {
    padding: 24px;
  }

  .appreciation-card {
    width: 100%;
    max-width: 320px;
  }
}


/* ABOUT CSS */
.carousel1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  background: url("images/imgAbt/slide1-1990.jpg") center / cover no-repeat;
}

.carousel2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  background: url("images/imgAbt/slide2_1992.png") center / cover no-repeat;
}

.carousel3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  background: url("images/imgAbt/slide3_2017.png") center / cover no-repeat;
}

.carousel4 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  background: url("images/imgAbt/slide4_2026.png") center / cover no-repeat;
}

.abttxtYr {
  font-size: 300px;
  color: white;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);

}

.abtSliderBoxContent {
  border-radius: 50px 0px 50px 0px !important;
  background-color: #007ab3a7;
  color: white;
  padding: 65px
}

.abtSliderBoxContent h2 {
  color: #d9cc48;
  margin-bottom: 15px !important;
  font-size: 45px;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

.abtSliderBoxContent p {
  text-align: justify;
  font-size: 22px;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

/* Slide movement speed */
.carousel-item {
  transition: transform 0.9s ease-in-out;
}

/* Content animation */
.carousel-item .abttxtYr,
.carousel-item .abtSliderBoxContent {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

.carousel-item.active .abttxtYr {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.carousel-item.active .abtSliderBoxContent {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

/* Background zoom */
.carousel1,
.carousel2,
.carousel3,
.carousel4 {
  transform: scale(1.05);
  transition: transform 4s ease;
}

.carousel-item.active .carousel1,
.carousel-item.active .carousel2,
.carousel-item.active .carousel3,
.carousel-item.active .carousel4 {
  transform: scale(1);
}

/* mission and vision */
.mixvis-main-cont {
  background-color: #fdf265;
  border-radius: 0px 0px 120px 120px;
  margin-bottom: 50px;
}

.mixvis-main-cont p {
  font-size: 25px;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

.mixvis-main-cont h1 {
  font-size: 55px;
  color: #fdf265;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
}

.mixvis-box-content {
  padding: 100px;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 90px 90px;
  background: url("images/imgAbt/abtOfficeAsset20@3x.png") center / cover no-repeat;
}



/* SERVICES CSS */

.servMainCont {
  background-image: url("images/imgServ/nobgbg1.png");
  background-size: cover;
  background-color: #4281C3;
  background-position: top;
  min-height: auto;
  height: 900px;
  /* padding: 160px 0 85px 0; */
  overflow-x: hidden !important;
  /* animation: heroBgMove 150s linear infinite; */
  padding: 5%;
}

.servMainCont h1 {
  color: white;
  font-size: 55px;
}

.servMainCont p {
  color: #FFF35F;
  font-size: 30px;
  font-style: italic;
  margin: 30px 0px 0px 100px;
  /* text-shadow: #858585 0px 3px 12px; */
  font-family: 'myFont1';
}


.servContent h1 {
  font-size: 95px;
  font-family: 'GOTHICB';
  color: #019BE1;
}

.accordion-header h2 {
  font-size: 30px !important;
  font-family: 'MyFont1';
  background-color: #009BE1;

}

.services {
  max-width: 100%;
  margin: auto;
  height: auto;
}

.service-title {
  text-align: center;
  color: #1f9bd1;
  font-size: 48px;
  margin: 30px 0;
}

.service-header {
  padding: 25px;
  font-size: 40px;
  text-align: center;
  color: #1f9bd1;
  cursor: pointer;
  font-weight: bold;
}

.service-header:hover {

  color: #0c4f6b;
}

.yellow {
  background: #f6ef6d;
}

.light {
  background: #f0ecc8;
}

.service-content {
  max-height: 0;
  overflow: hidden;
  background: #ffffff;
  transition: max-height 0.4s ease;
  /* text-align: center; */
  padding: 0px 100px 0px 100px;
  
}

.service-content h2 {
  color: #FF003C;
  font-size: 40px;
}

.service-content p,
li {
  margin: 0;
  color: #555;
  font-size: 24px;
  font-family: 'MyFont1';
  text-align: justify;

}

.services-text-content {
  border: 0px solid red;
margin-bottom: 30px;
}

/* .service-image{
  background-image: url("images/imgServ/Asset1-7@3x.png");
  background-size:cover;
  background-position:center;
  min-height: auto;
  overflow-x: hidden !important;
  height: 1100px;
} */

.service-content img {
  height: auto;
}

/* CONTACT US CSS */

.contact-hero {
  padding: 150px 0px 50px 0px;
  /* background-color: #b8b8b8; */
}

.contact-header {
  background-image: url("images/imgCont/AssetContBg-1@3x.png");
  background-size: cover;
  height: 400px;
  border-radius: 50px;

}

.contact-header h1 {
  color: white;
  font-size: 85px;
  padding: 130px 0px 0px 100px;
  text-shadow: #00000061 0px 3px 12px;
}

.container-message-field {
  background-color: #FFF25F;
  border-radius: 50px 0px 0px 50px;
  padding: 5%;
}

.container-message-field h1 {
  color: #FF003C;
  font-size: 65px;
}

.container-message-field label {
  color: #009BE1;
  font-size: 20px;
}

.container-message-field ::placeholder {
  color: #00000042;
  font-size: 20px;
}

.container-message-field button {
  background-color: #009BE1 !important;
}

.container-message-field button:hover {
  background-color: #05628c !important;
}

.contact-col-right h1 {
  font-size: 75px;
  font-family: 'MyFont1';
}

.contact-branch-content p {
  font-family: 'MyFont1';
  font-size: 21px;
  color: #454545;
}

.contact-branch-content h2 {
  color: #009BE1 !important;
}

.contact-branch-content a {
  color: #000000 !important;
  text-decoration: none;
}

.contact-branch-content a:hover {
  color: #009BE1 !important;
}

.social-icons h3 {
  color: #FF003C !important;
  margin-top: 6px;
}

.contact-col-right a {
  color: #009BE1 !important;
  text-decoration: none;
  margin: 2px;
}

.contact-col-right a:hover {
  color: #006898 !important;
}

.services-contents{
  padding-left: 150px !important;
}

/* RESPONSIVENESS START HERE */

/* mobile adoptive */
@media (min-width: 375px) {

}

/* Mobile */
@media (max-width: 991px) {
  .nav-link {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .navLogo {
  width: 180px !important;
  height: 60px !important;
  }

  /* Shrink logo */
.custom-navbar.scrolled .navLogo {
  width: 180px !important;
  height: 60px !important;
  transition: all 0.35s ease;
}

.custom-navbar {

  height: auto;
}

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .txtTitle{
    margin-top: -5px !important;
     text-align: center !important;
  }

.txtConts-1{
  text-align: justify !important;
  background-color: rgba(36, 36, 36, 0.582);
  padding: 20px;
  font-size: 17px !important;
  border-radius: 10px;
}

.txtCoreServ {
  margin-top: -105px !important;
  text-align: center !important;
  border: 0px solid red;
  margin-left: -50px !important;
  font-size: 45px !important;

}

.respon-view{
  margin: -80px 0px 80px -40px !important; 
  border: 0px solid red;
  text-align: center !important;
}

  .respon-view-content{
    margin-top: 50px;
  }

.services-title{
 text-align: center !important;
  margin-top: -90px !important;
  border: 0px solid red;
  margin-left: -35px !important ;
}
  /* network */
  .network-content-logo{
    /* display: none !important; */
    margin-bottom: 80px;
    margin-top: -50px !important;
    img{
      height: 80px !important;
    }
  }

  .network-content-title{
    font-size: 30px !important;
    text-align: center !important;
    margin-top: -55px !important;
  }

  .divAffpart{
    border-radius: 10px !important;
  }

  .boxCard{

    border-radius: 30px 0px 30px 0px !important;
  }

  /* partners and affiliation */
  .partner-title{
    border: 0px solid red;
    font-size: 45px !important;
    text-align: center !important;
    margin-top: -30px !important  ;
  }

  .services-contents{
  padding-left: 45px !important;
}

}

